<article class="recipe">
  <div class="title">
    <a href="{{recipeData.recipe_url}}" target="_blank">{{recipeData.title}}</a>
    <img src="../photos/{{recipeData.picture}}" alt="{{recipeData.title}}">
  </div>
  <div class="meta">
    {{vote_count}} point(s) by {{user.username}} on {{created_at}}
    |
    <a href="/recipe/{{id}}">{{comments.length}} comment(s)</a>
    {{vote_count}} point(s) by {{user.username}} on {{format_date created_at}}
  </div>
</article>