<article class='recipe panel' style="width: 18rem; color: #D79922;">
  <div class="card m-1" style="background-color: #D79922; font-size: xx-large;">
    <img src="/photos/{{picture}}" class="card-img-top" alt="Recipe Image">
    <div class="card-body" style="color: #EFE2BA; font-size: large;">
      <p class="card-title">{{title}}</p>
      <p class="card-text">From: {{user.username}}</p>
      <p class='card-text'>Votes: {{vote_count}}</p>
      <a href="/recipe/{{id}}" class="btn" style="background-color: #F13C20; color: #EFE2BA" ;>View Full Recipe</a>
    </div>
  </div>
</article>