<article class='recipe' style="width: 18rem">
  <div class="card m-1" style="color: #D79922; font-size: xx-large;">
    <img src="/photos/{{picture}}" class="card-img-top" alt="Recipe Image">
    <div class="card-body" style="color: #EFE2BA; font-size: xx-large;">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">From: {{user.username}}</p>
      <P class='card-text'>Votes: {{vote_count}}</P>
      <a href="/recipe/{{id}}" class="btn btn-primary">View Full Recipe</a>
    </div>
  </div>
</article>