{{#with recipe}}
<div class='container'>
  <article class='recipe'>
    <h5 class="mx-auto">{{title}}</h5>
    <p class="card-text">From: {{user.username}}</p>
    <p class ='card-text'>Votes: {{vote_count}}</p>
    <img src="/photos/{{picture}}" class="img-fluid" alt="Recipe Image">
    <h3>Ingredients:</h3>
    <ul>
      {{#each ingredients as |ingredient|}}
      <li>{{ingredient}}</li>
      {{/each}}
    </ul>
    <h3>Directions:</h3>
    <p>{{instructions}}
    </p>
    <button id="upvote" class=''>Upvote</button>
  </article>
</div>
{{/with}}

<script src='/js/upvote.js'></script>